<?xml version="1.0" encoding="utf-8"?>
<launch>

   <node name="rviz" pkg="rviz" type="rviz" output="screen"
    args="-d $(find gcopter)/config/global_planning.rviz"> 
  </node>
  
<!--   <node name="pos_vel_plot" pkg="rqt_plot" type="rqt_plot"  -->
<!--     args="/visualizer/speed /visualizer/total_thrust /visualizer/tilt_angle /visualizer/body_rate" output="screen"> -->
<!--   </node> -->

  <node pkg="gcopter" type="global_planning" name="global_planning_node" output="screen">
  <rosparam file="$(find gcopter)/config/global_planning.yaml" command="load" />
  </node>

</launch>
